Scripts/
Include/
share/
Lib/
**/__pycache__/
dataset/
__pycache__/
train.yaml/
train.py/
tools/
pyvenv.cfg
**/input/
alert-server/
cam-stream/
tools/
mediamtx/
docs/
.github/
.git/
build.bat
README.md
version
unified_dataset_tool.spec
venv/