# dont forget pytorch-gpu
ultralytics
opencv-python
loguru
transformers
numpy
av
# gRPC dependencies
grpcio
grpcio-tools
protobuf

# Fall detection dependencies
scipy
scikit-learn
torch-directml; sys_platform=="win32"
